/* Variables de color y tipografía */
:root {
	--color-bg-light: #F3F5FC;
	--color-text-light: #0A3871;
	--color-button-background: #0A3871;
	--color-button-text: #FFFFFF;
	--color-button-border: #E6E6E6;
	--color-output-background: #FFFFFF;
	--color-bg-dark: #1A1A1A;
	--color-text-dark: #F3F5FC;
	--font-family: 'Inter', sans-serif;
	--font-family-dark: 'Inter', sans-serif;
}

body {
	background-color: var(--color-bg-light);
	color: var(--color-text-light);
	font-family: var(--font-family);
	margin: 0;
	padding: 0;
	transition: background-color 0.5s ease, color 0.5s ease, font-family 0.5s ease;
}

body.dark-theme {
	background-color: var(--color-bg-dark);
	color: var(--color-text-dark);
	font-family: var(--font-family-dark);
}

.head-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	background-color: var(--color-output-background);
	border-bottom: 1px solid var(--color-button-border);
}

.container {
	display: flex;
	justify-content: space-between;
	padding: 40px;
}

h1 {
	font-size: 32px;
	font-weight: 400;
	margin-bottom: 20px;
}

textarea {
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
	padding: 15px;
	border-radius: 8px;
	border: 2px solid #E6E6E6;
	font-size: 18px;
	font-family: var(--font-family);
	resize: none;
	background-color: var(--color-output-background);
	color: inherit;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.buttons {
	display: flex;
	gap: 10px;
}

button {
	padding: 15px 25px;
	border-radius: 8px;
	border: 2px solid var(--color-button-border);
	background-color: var(--color-button-background);
	color: var(--color-button-text);
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button#decryptBtn {
	background-color: transparent;
	color: var(--color-text-light);
}

button#decryptBtn:hover {
	background-color: var(--color-button-border);
}

button#copyBtn {
	display: none;
	background-color: #28a745;
}

button:hover {
	background-color: #003f7f;
}

#outputArea {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-color: var(--color-output-background);
	border-radius: 8px;
	border: 2px solid #E6E6E6;
	padding: 15px;
	margin-bottom: 20px;
	color: inherit;
	transition: background-color 0.5s ease, color 0.5s ease;
}

#outputText {
	font-size: 18px;
	text-align: center;
	color: inherit;
}

footer {
	text-align: center;
	padding: 20px;
	background-color: var(--color-button-background);
	color: white;
	font-family: var(--font-family);
	margin-top: 20px;
	font-size: 14px;
}

.toggle-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
	border-radius: 34px;
	background-image: url('/assets/icons/sun.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	transition: background-color 0.4s, background-image 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked+.slider {
	background-image: url('/assets/icons/moon.png');
}

input:checked+.slider:before {
	transform: translateX(26px);
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		align-items: center;
	}

	textarea,
	#outputArea,
	.image-container {
		width: 100%;
	}

	.buttons {
		flex-direction: column;
		width: 100%;
		align-items: center;
	}

	button {
		width: 100%;
	}
}